html * {
    margin: 0;
}

div.header_nav_wrapper {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
}

div.main_wrapper {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 104px;
    width: 100%;
}

header {
    display: flex;
    background: black;
}

header h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    transform: scaleX(1.4);
    padding: 20px 0 0 40px;
}

header div.search {
    margin-top: auto;
    margin-left: auto;
    margin-right: 10px;
}

header div.search input[type="text"] {
    width: 200px;
    height: 20px;
    border: 3px solid #2CA9B4;
    border-right: none;
    border-radius: 15px 0 0 15px;
    padding-left: 10px;
}

header div.search input[type="submit"] {
    height: 28px;
    font-size: 12px;
    color: white;
    background: #2CA9B4;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 0 10px;
}

nav {
    background: black;
    border-bottom: 5px solid #37A29B;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px 10px 0px 10px;
}

nav ul li:last-child {
    margin-left: auto;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 13px;
}

nav ul li a:hover {
    background: #37A29B;
    border-radius: 10px 10px 0 0;
}

div.main_wrapper {
    margin-top: 10px;
}

main ul.items {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
}

main li.item {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

main div.head {
    font-size: 64px;
    margin-right: 10px;
}
